body {
	background-color: lightblue;
	.caja .menu{
		background-color: #CCC;
		width= 35%;
		padding: 5px;
		margin-bottom: 6px;
		height: 6em;
		float: left;
	}
	
}
h1 {
	color: red;
	text-align: center;
	font-style: italic;
}
h2 {
	color: black;
	text-align: left;
	font-style: italic;
	text-decoration: underline;
}
h3 {
	color: green;
	text-align: left;
	font-size: 18px;
	font-style: italic;
	test-decoration: underline;
}	
p {
	font-family: montserrat;
	font-size: 20px;
}











